<!DOCTYPE html>
<html lang =en>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

<body>
    Hello World !

    <h1><a href="{% url 'create' %}" >Ajouter une valeur</a></h1>
    <br>
    <table>
        <tbody>
            <tr>
                <td>id</td>
                <td>Nom</td>
                <td>Matricule</td>
                <td>Maître</td>
            </tr>
            {%for dog in dogs%}
            <tr>
                <td>{{dog.id}}</td>
                <td>{{dog.name}}</td>
                <td>{{dog.num_id}}</td>
                <td>{{dog.dog_master}}</td>
                <td><a href="">Détails</a></td>
                <td><a href="edit/{{dog.id}}">Editer</a></td>
                <td><a href="delete/{{dog.id}}">Supprimer</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>